.font-alegreya {
    font-family: 'Alegreya', serif;
}
.font-baskerville {
    font-family: 'Libre Baskerville', serif;
}
.carousel-caption-right {
    right: 5%;
    text-align: right;
    left: auto;
    padding:5px;
}
.carousel-caption-left {
    right: auto;
    text-align: left;
    left: 5%;
    padding-top: 27rem;
}
